<h1>Política de Privacidad</h1>
<p>
    Agradezco que estés en esta página, eso significa que tus datos te importan, y quieres conocer el destino de los mismos y quién los recoge.
</p>
<h2>
    POLÍTICA DE PRIVACIDAD
</h2>
<p>
    De conformidad con lo dispuesto en el Reglamento General (UE) Sobre Protección de Datos, mediante la aceptación de la presente Política de Privacidad prestas tu consentimiento informado, expreso, libre e inequívoco para que los datos personales que proporciones a través de la página web https://rockandrollspace.com/ (en adelante SITIO WEB) sean incluidos en un fichero de “USUARIOS WEB Y SUSCRIPTORES” así como “CLIENTES Y/O PROVEEDORES”:
    Todo ello debidamente inscrito ante la agencia Española de Protección de Datos y respecto del que RockandrollSpace garantiza que se han aplicado las medidas de seguridad tanto organizativas como técnicas requeridas por el RGPD.

La presente Política de Privacidad será válida únicamente para los datos de carácter personal obtenidos en el Sitio Web, no siendo aplicable para aquella información recabada por terceros en otras páginas web, incluso si éstas se encuentran enlazadas por el Sitio Web.

Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de los usuarios de nuestro sitio web.
</p>
<h2>1. ¿QUÉ SON LOS DATOS PERSONALES?</h2>
<p>
    Una pequeña aproximación es importante, por ello, debes saber que sería cualquier información relativa a una persona que nos facilita cuando visita nuestro sitio web, en nuestro caso nombre e email, y si compra algún producto necesitando factura, solicitaremos Domicilio completo, nombre, apellidos y DNI o CIF.

    Adicionalmente, cuando visitas nuestro sitio web, determinada información se almacena automáticamente por motivos técnicos como la dirección IP asignada por su proveedor de acceso a Internet.
</p>
<h2>2. FINALIDAD, LEGITIMACIÓN, CATEGORÍA DE LOS DATOS RECABADOS, CONSENTIMIENTO AL TRATAMIENTO, MENORES DE EDAD.</h2>

<h5>FINALIDAD</h5>
<p>
    Tal y como se recoge en la normativa, se informa al USUARIO que, a través de los formularios de contacto, o suscripciones se recaban datos, los cuales se almacenan en un fichero, con la exclusiva finalidad de envío de comunicaciones electrónicas, tales como: boletines (newsletters), nuevas entradas (posts), ofertas comerciales, webinars gratuitos, así como otras comunicaciones que RockandrollSpace entiende interesantes para sus USUARIOS. Los campos marcados como de cumplimentación obligatoria, son imprescindibles para realizar la finalidad expresada.

    Asimismo podrá dar cumplimiento mediante los datos, a los requerimientos solicitados por los USUARIOS.
</p>

<p>
    Únicamente el titular tendrá acceso a sus datos, y bajo ningún concepto, estos datos serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.

    La aceptación de la política de privacidad, mediante el procedimiento establecido de dole opt-in, se entenderá a todos los efectos como la prestación de CONSENTIMIENTO EXPRESO E INEQUÍVOCO del USUARIO al tratamiento de los datos de carácter personal en los términos que se exponen en el presente documento, así como a la transferencia internacional de datos que se produce, exclusivamente debido a la ubicación física de las instalaciones de los proveedores de servicios y encargados del tratamiento de datos.
    
    En ningún caso se realizará un uso diferente que la finalidad para los que han sido recabados los datos ni muchos menos cederé a un tercero estos datos.
</p>
<h3>2.2 MENORES DE EDAD</h3>
<p>
    En el supuesto de ser mayor de trece años, podrás registrarte en https://rockandrollspace.com/ sin necesidad del consentimiento previo de tus padres o tutores.

    ¿Qué ocurre en el caso de que seas menor de 14 años?
    
    En este supuesto, será condición obligatoria el consentimiento de tus padres o tutores para que podamos tratar sus datos personales
    
    Advertencia: Si tienes menos de catorce años y no has obtenido el consentimiento de tus padres, no puedes registrarte en la web por lo que procederemos a denegar su solicitud en caso de tener constancia de ello.
</p>
<h3>2.3 LEGITIMACIÓN</h3>
<p>Gracias al consentimiento, podemos tratar tus datos siendo requisito obligatorio para poder suscribirte a la página web.

    Como bien sabes, puedes retirar tu consentimiento en el momento que lo desees.
</p>
<h3>2.4 CATEGORÍA DE LOS DATOS</h3>
<p>Los datos recabados en ningún momento son especialmente protegidos, sino que se encuentran categorizados como datos identificativos.
</p>
<h3>2.5 TIEMPO DE CONSERVACIÓN DE LOS DATOS</h3>
<p>Conservaré tus datos durante el tiempo legalmente establecido o hasta que solicites eliminarlos.
</p>
<h3>2.6 EXACTITUD Y VERACIDAD DE LOS DATOS</h3>
<p>Obviamente eres el único responsable de la veracidad y exactitud de los datos que me remitas eximiéndome de cualquier tipo de responsabilidad al respecto.

    Como usuario, debes garantizar la exactitud y autenticidad de los datos personales facilitados debiendo aportar la información completa y correcta en los distintos formularios de captación de datos.
</p>
<h3>3. CUMPLIMIENTO DE LA NORMATIVA DE APLICACIÓN.-</h3>
<p>ROCKANDROLLSPACE hasta la fecha cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de dicha Ley Orgánica y demás normativa vigente y de aplicación en cada momento, velando por garantizar un correcto uso y tratamiento de los datos personales del usuario.

    A partir de mayo de 2018, nos regiremos por la normativa que entrará en aplicación, siendo el Reglamento General sobre Protección de Datos (RGPD) de la Unión Europea.
    
    Asimismo, ROCKANDROLLSPACE informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y le solicitará su consentimiento al USUARIO para el tratamiento de su correo electrónico con fines comerciales en cada momento.
    
    En cumplimiento de lo establecido en la normativa, le informamos que los datos suministrados, así como aquellos datos derivados de su navegación, podrán ser almacenados en los ficheros de ROCKANDROLLSPACE y tratados para la finalidad de atender su solicitud y el mantenimiento de la relación que se establezca en los formularios que suscriba.
    
    Adicionalmente, el USUARIO consiente el tratamiento de sus datos con la finalidad de informarles, por cualquier medio, incluido el correo electrónico, de productos y servicios de ROCKANDROLLSPACE
    
    En caso de no autorizar el tratamiento de sus datos con la finalidad señalada anteriormente, el USUARIO podrá ejercer su derecho de oposición al tratamiento de sus datos en los términos y condiciones previstos más adelante en el apartado “Ejercicio de Derechos”
</p>
<h3>4. MEDIDAS DE SEGURIDAD.</h3>
<p>ROCKANDROLLSPACE le informa que tiene implantadas las medidas de seguridad de índole técnica y organizativas necesarias para garantizar la seguridad de sus datos de carácter personal y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural. Todo ello de conformidad con lo previsto en el RGPD.

    Asimismo, ROCKANDROLLSPACE ha establecido medidas adicionales en orden a reforzar la confidencialidad e integridad de la información en su organización. Manteniendo continuamente la supervisión, control y evaluación de los procesos para asegurar el respeto a la privacidad de los datos.
</p>
<h3> 5. MODIFICACIÓN DE LA POLÍTICA DE PRIVACIDAD</h3>
<p>ROCKANDROLLSPACE se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Española de Protección de Datos.

    Cualquier modificación de la Política de Privacidad será publicada al menos diez días antes de su efectiva aplicación. El uso de ROCKANDROLLSPACE después de dichos cambios, implicará la aceptación de los mismos.
</p>
<h3> 6. ACEPTACIÓN, CONSENTIMIENTO Y REVOCABILIDAD</h3>
<p>El Usuario declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento de los mismos por parte de ROCKANDROLLSPACE en la forma y para las finalidades indicadas en el aviso legal.

    Como bien sabes y le hemos comunicado a lo largo de las presentes políticas de privacidad, en cualquier momento podrá revocar sus datos, pero siempre sin carácter retroactivo.
</p>
<h3>7. CAMBIOS EN LA PRESENTE POLÍTICA DE PRIVACIDAD</h3>
<p>ROCKANDROLLSPACE se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria. En dichos supuestos, el Prestador anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.
</p>



