<!--Pruebas para el css de lanzamiento-->

<div class="center">
  <h1 style="text-align: left" style="padding-right: 5%">Bienvenido, WarGamer.</h1>
  <div  class="btn"routerLink= "/jugadores">Jugadores</div>
  <div  class="btn"routerLink= "/equipos">Equipos</div>
  <div  class="btn"routerLink= "/juegos">Juegos</div>
  <div  class="btn"routerLink= "/listas">Listas</div>
  <div  class="btn"routerLink= "/pinturas">Pinturas</div>
  <div  class="btn"routerLink= "/torneos">Torneos</div>
  <div  class="btn"routerLink= "/iniciosesion">InicioSesión</div>
  <div  class="btn"routerLink= "/registro">Registro</div>
  <div  class="btn"routerLink= "/articulos">Articulos</div>
</div>

<!--<section>
  <div class="container" class="col-lg-4" routerLink="/jugadores" >
    <div class="background-img">
      <div class="box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
          <div class="card-body">
            <a style="padding-top: 5%" class="card-link">Jugadores</a>
            <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
           </div>
          
        </div>
        
      </div>
    </div>
  </div>
  

</section>-->






<!--<div class="jumbotron" id="fondo">
    <div class="container" id="letrashomepage">
      <div class="row">
          <div class= "col-lg-4" style="padding-bottom: 5%">
            <div class="container" class="col-lg-4" routerLink="/jugadores" >
              <div class="background-img">
                <div class="box">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <div class="card-body">
                      <a style="padding-top: 5%" class="card-link">Jugadores</a>
                      <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
            
            <div class= "col-lg-4" style="padding-bottom: 5%">
              <div class="container" style="padding-bottom:25%" class="col-lg-4" routerLink="/jugadores" >
                <div class="background-img">
                  <div class="box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                      <div class="card-body">
                        <a style="padding-top: 5%" class="card-link">Jugadores</a>
                        <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                      </div>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
          <div class= "col-lg-4" style="padding-bottom: 5%">
            <div class="container" class="col-lg-4" routerLink="/jugadores" >
              <div class="background-img">
                <div class="box">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <div class="card-body">
                      <a style="padding-top: 5%" class="card-link">Jugadores</a>
                      <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                    </div>
                  </div>
                </div>
               </div>
           </div>
        </div>
        <div class= "col-lg-4" style="padding-top: 15%">
          <div class="container" style="padding-bottom: 25%" class="col-lg-4" routerLink="/jugadores" >
            <div class="background-img">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                  <div class="card-body">
                    <a style="padding-top: 5%" class="card-link">Jugadores</a>
                    <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                  </div>
                </div>
              </div>
             </div>
         </div>
        </div>
        <div class= "col-lg-4" style="padding-top: 15%">
          <div class="container" style="padding-top: 25%" class="col-lg-4" routerLink="/jugadores" >
            <div class="background-img">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                  <div class="card-body">
                    <a style="padding-top: 5%" class="card-link">Jugadores</a>
                    <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                  </div>
                </div>
              </div>
             </div>
         </div>
        </div>
        <div class= "col-lg-4" style="padding-top: 15%">
          <div class="container" style="padding-bottom: 25%" class="col-lg-4" routerLink="/jugadores" >
            <div class="background-img">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                  <div class="card-body">
                    <a style="padding-top: 5%" class="card-link">Jugadores</a>
                    <p class="card-text">En este apartado encontrarás a tus rivales, compañeros y conocidos con los cuales podrás interactuar.</p>
                  </div>
                </div>
              </div>
             </div>
         </div>
        </div>
     </div>
    </div> 
  </div>
 -->










