<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">Capitán</th>
        <th scope="col">Miembros</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Victorias</th>
        <th scope="col">Derrotas</th>
        <th scope="col">Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registroequipo of registroequipo">
        <th scope="row">{{registroequipo.equipo}}</th>
        <td >{{registroequipo.capitan}}</td>
        <td >{{registroequipo.miembros}}</td>
        <td >{{registroequipo.ciudad}}</td>
        <td >{{registroequipo.victorias}}</td>
        <td >{{registroequipo.derrotas}}</td>
        <td >{{registroequipo.contacto}}</td>
      </tr>
    </tbody>
</table>
  


    
 
  <button type="button" routerLink="/registroequipo" class="btn btn-secondary btn-lg btn-block">Añadir mi equipo</button>
  

  
 