<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">Capitán</th>
        <th scope="col">Miembros</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Victorias</th>
        <th scope="col">Derrotas</th>
        <th scope="col">Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipounderworlds of equiposunderworlds">
        <th scope="row">{{equipounderworlds.nombre}}</th>
        <td >{{equipounderworlds.capitan}}</td>
        <td >{{equipounderworlds.miembros}}</td>
        <td >{{equipounderworlds.ciudad}}</td>
        <td >{{equipounderworlds.victorias}}</td>
        <td >{{equipounderworlds.derrotas}}</td>
        <td >{{equipounderworlds.contacto}}</td>
      </tr>
    </tbody>
</table>