<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">Capitán</th>
        <th scope="col">Miembros</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Victorias</th>
        <th scope="col">Derrotas</th>
        <th scope="col">Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipo40k of equipos40k">
        <th scope="row">{{equipo40k.nombre}}</th>
        <td >{{equipo40k.capitan}}</td>
        <td >{{equipo40k.miembros}}</td>
        <td >{{equipo40k.ciudad}}</td>
        <td >{{equipo40k.victorias}}</td>
        <td >{{equipo40k.derrotas}}</td>
        <td >{{equipo40k.contacto}}</td>
      </tr>
    </tbody>
</table>