<ul class="list-unstyled" style="padding-top: 5%">
        <li class="media">
          <img class="mr-3" src="assets/recursos2d/j1.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
           
            
            <ul>
              <ng-container *ngFor="let jugador of jugadores">
                <li *ngIf="jugador.active">{{jugador.nombre}}</li>
    
              </ng-container>
             
            </ul>
            <div class="container" style="padding-top: 3%">
                <div class="row">
                  <div class="col-sm">
                    Juegos
                    <li>juego1</li>
                    <li>juego2</li>
                    <li>juego3</li>
                    <li>juego4</li>
                  </div>
                  <div class="col-sm">
                    Victorias
                    <li>Victoriasjuego1</li>
                    <li>Victoriasjuego2</li>
                    <li>Victoriasjuego3</li>
                    <li>Victoriasjuego4</li>
                  </div>
                  <div class="col-sm">
                      Derrotas
                      <li>Derrotasjuego1</li>
                      <li>Derrotasjuego2</li>
                      <li>Derrotasjuego3</li>
                      <li>Derrotasjuego4</li>
                    </div>
                  <div class="col-sm">
                    Equipos
                    <li>Equipo1</li>
                    <li>Equipo2</li>
                  </div>
                </div>
              </div>
          </div>
        </li>
        <li class="media">
            <img class="mr-3" src="assets/recursos2d/j2.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              <div class="container" style="padding-top: 3%">
                  <div class="row">
                    <div class="col-sm">
                      Juegos
                      <li>juego1</li>
                      <li>juego2</li>
                      <li>juego3</li>
                      <li>juego4</li>
                    </div>
                    <div class="col-sm">
                      Victorias
                      <li>Victoriasjuego1</li>
                      <li>Victoriasjuego2</li>
                      <li>Victoriasjuego3</li>
                      <li>Victoriasjuego4</li>
                    </div>
                    <div class="col-sm">
                        Derrotas
                        <li>Derrotasjuego1</li>
                        <li>Derrotasjuego2</li>
                        <li>Derrotasjuego3</li>
                        <li>Derrotasjuego4</li>
                      </div>
                    <div class="col-sm">
                      Equipos
                      <li>Equipo1</li>
                      <li>Equipo2</li>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="media">
              <img class="mr-3" src="assets/recursos2d/j3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="container" style="padding-top: 3%">
                    <div class="row">
                      <div class="col-sm">
                        Juegos
                        <li>juego1</li>
                        <li>juego2</li>
                        <li>juego3</li>
                        <li>juego4</li>
                      </div>
                      <div class="col-sm">
                        Victorias
                        <li>Victoriasjuego1</li>
                        <li>Victoriasjuego2</li>
                        <li>Victoriasjuego3</li>
                        <li>Victoriasjuego4</li>
                      </div>
                      <div class="col-sm">
                          Derrotas
                          <li>Derrotasjuego1</li>
                          <li>Derrotasjuego2</li>
                          <li>Derrotasjuego3</li>
                          <li>Derrotasjuego4</li>
                        </div>
                      <div class="col-sm">
                        Equipos
                        <li>Equipo1</li>
                        <li>Equipo2</li>
                      </div>
                    </div>
                  </div>
              </div>
            </li>
            <li class="media">
                <img class="mr-3" src="assets/recursos2d/j4.jpg" alt="Generic placeholder image" style="padding-top: 3%">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  <div class="container" style="padding-top: 3%">
                      <div class="row">
                        <div class="col-sm">
                          Juegos
                          <li>juego1</li>
                          <li>juego2</li>
                          <li>juego3</li>
                          <li>juego4</li>
                        </div>
                        <div class="col-sm">
                          Victorias
                          <li>Victoriasjuego1</li>
                          <li>Victoriasjuego2</li>
                          <li>Victoriasjuego3</li>
                          <li>Victoriasjuego4</li>
                        </div>
                        <div class="col-sm">
                            Derrotas
                            <li>Derrotasjuego1</li>
                            <li>Derrotasjuego2</li>
                            <li>Derrotasjuego3</li>
                            <li>Derrotasjuego4</li>
                          </div>
                        <div class="col-sm">
                          Equipos
                          <li>Equipo1</li>
                          <li>Equipo2</li>
                        </div>
                      </div>
                    </div>
                </div>
              </li>
              <li class="media">
                  <img class="mr-3" src="assets/recursos2d/j5.jpg" alt="Generic placeholder image" style="padding-top: 3%">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="container" style="padding-top: 3%">
                        <div class="row">
                          <div class="col-sm">
                            Juegos
                            <li>juego1</li>
                            <li>juego2</li>
                            <li>juego3</li>
                            <li>juego4</li>
                          </div>
                          <div class="col-sm">
                            Victorias
                            <li>Victoriasjuego1</li>
                            <li>Victoriasjuego2</li>
                            <li>Victoriasjuego3</li>
                            <li>Victoriasjuego4</li>
                          </div>
                          <div class="col-sm">
                              Derrotas
                              <li>Derrotasjuego1</li>
                              <li>Derrotasjuego2</li>
                              <li>Derrotasjuego3</li>
                              <li>Derrotasjuego4</li>
                            </div>
                          <div class="col-sm">
                            Equipos
                            <li>Equipo1</li>
                            <li>Equipo2</li>
                          </div>
                        </div>
                      </div>
                  </div>
                </li>
      </ul>
    
      
    
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            
            <button type="button" class="btn btn-secondary" routerLink="/jugadores">1</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores1">2</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores2">3</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores3">4</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores4">5</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores5">6</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores6">7</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores7">8</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores8">9</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores9">10</button>
            <button type="button" class="btn btn-secondary" routerLink="/jugadores10">11</button>
            
          </div>