<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">Capitán</th>
        <th scope="col">Miembros</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Victorias</th>
        <th scope="col">Derrotas</th>
        <th scope="col">Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipofow of equiposfow">
        <th scope="row">{{equipofow.nombre}}</th>
        <td >{{equipofow.capitan}}</td>
        <td >{{equipofow.miembros}}</td>
        <td >{{equipofow.ciudad}}</td>
        <td >{{equipofow.victorias}}</td>
        <td >{{equipofow.derrotas}}</td>
        <td >{{equipofow.contacto}}</td>
      </tr>
    </tbody>
</table>